    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 60px;
      }

      .container {
        margin: 0 auto;
        max-width: 1050px;
      }
      .container > hr {
        margin: 60px 0;
      }

      .jumbotron {
        margin: 30px 0px;
        text-align: center;

      }
      .jumbotron h1 {
        font-size:70px;
        line-height: 1;
        letter-spacing:-3px;

      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>

  </head>

  <body>

    <div class="container">
      <br><br><br>
         <span class="brand">Niner<span class="color-highlight2">Connect*</span></span>
              <ul class="nav nav-tabs">
              <li class="active"><a href="#">Group Page</a></li>
              <li><a href="planit.html">PlanIt</a></li>
              <li><a href="index.html">Home</a></li>
              </ul>